#root {
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("./assets/Фон.png");
  background-size: cover;
  background-position: center 80%;
  background-repeat: no-repeat;
}
